:root{
    --background: #0f0f0f;
    --text: #eefbea;
    --primary: #83fc83;
    --secondary: #024b26;
    --accent: #49fda3;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Satoshi', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.sent-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    text-align: center;
    color: var(--text);
    margin-bottom: 16px;
}

.envelope-image{
    width: 332px;
}


@media only screen and (min-width: 480px) and (max-width: 800px){
    .sent-heading{
        font-size: 42px;
        text-align: center;
    }

    .envelope-image{
        width: 280px;
    }
}


@media only screen and (min-width: 280px) and (max-width: 479px){
    .sent-heading{
        font-size: 34px;
        text-align: center;
    }

    .envelope-image{
        width: 280px;
    }
}