@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Regular.otf');
    src: url('fonts/clash-display/ClashDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Medium.otf');
    src: url('fonts/clash-display/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Semibold.otf');
    src: url('fonts/clash-display/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Bold.otf');
    src: url('fonts/clash-display/ClashDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Light.otf');
    src: url('fonts/clash-display/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Extralight.otf');
    src: url('fonts/clash-display/ClashDisplay-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }


@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Light.otf');
    src: url('fonts/satoshi/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Regular.otf');
    src: url('fonts/satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Medium.otf');
    src: url('fonts/satoshi/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Bold.otf');
    src: url('fonts/satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Black.otf');
    src: url('fonts/satoshi/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }


:root{
    --background: #0f0f0f;
    --text: #eefbea;
    --primary: #83fc83;
    --secondary: #024b26;
    --accent: #49fda3;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Satoshi', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.sent-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    text-align: center;
    color: var(--text);
    margin-bottom: 16px;
}

.envelope-image{
    width: 332px;
}


@media only screen and (min-width: 480px) and (max-width: 800px){
    .sent-heading{
        font-size: 42px;
        text-align: center;
    }

    .envelope-image{
        width: 280px;
    }
}


@media only screen and (min-width: 280px) and (max-width: 479px){
    .sent-heading{
        font-size: 34px;
        text-align: center;
    }

    .envelope-image{
        width: 280px;
    }
}