:root{
    --background: #0f0f0f;
    --text: #eefbea;
    --primary: #83fc83;
    --secondary: #024b26;
    --accent: #49fda3;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
}

.links-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    font-size: 20px;
    font-family: 'Clash Display';
    font-weight: 400;
    color: var(--text);
    text-decoration: none;
    margin: 0 32px 0 0;
}

.link:last-of-type{
    margin: 0;
}

.contact-btn{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
    color: var(--secondary);
    background-color: var(--primary);
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.hero-text-box{
    margin-left: 124px;
    color: var(--text);
}

.hello{
    font-size: 28px;
}

.intro{
    font-size: 54px;
    font-weight: 600;
    font-family: 'Clash Display';
}

.developer{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Clash Display';
}

.hero-img-box{
    margin-right: 124px;
}

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1028px;
    height: 465px;
    margin: 162px auto 0;
    border-radius: 68px;
    color: var(--text);
    background: #012E17;
}

.about-img{
    width: 310px;
    margin: 0 32px;
}

.about-text-box{
    margin: 0 54px 0 0;
}

.about-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
}

.ellipse1{
    width: 270px;
    position: absolute;
    right: 0px;
    top: 1240px;
    z-index: 0;
}

.works-section{
    z-index: 1;
    margin: 162px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 44px;
}

.works-cards-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 76px;
}

.works-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: var(--text);
    border: 1px solid rgba(238, 251, 234, 0.1);
    border-radius: 56px;
    overflow: hidden;
}

.card-img-box{
    padding: 40px;
}

.card-img{
    width: 346px;
    height: 308px;
    flex-shrink: 0;
    object-fit: cover;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}

.card-text2{
    padding-left: 60px;
}

.card-heading{
    /* font-family: 'Clash Display'; */
    font-size: 32px;
    font-weight: 800;
    color: var(--secondary);
}

.card-subheading{
    font-family: 'Clash Display';
    font-size: 16px;
    font-weight: 500;
    color: #AFAFAF;
    margin-top: 4px;
}

.card-desc{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin-top: 18px;
}

.card-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    gap: 16px;
}

.demo-btn, .github-btn{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 16px;
    padding: 10px 12px;
}

.github-btn{
    color: var(--text);
    background-color: var(--secondary);
}

.ellipse2{
    width: 270px;
    position: absolute;
    left: 0px;
    top: 2400px;
    z-index: 0;
}

.toolkit-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 172px auto 0;
}

.toolkit-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 36px;
}

.toolkit-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 154px;
}

.toolkit-icons-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 64px 108px;
}