@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Regular.otf');
    src: url('fonts/clash-display/ClashDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Medium.otf');
    src: url('fonts/clash-display/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Semibold.otf');
    src: url('fonts/clash-display/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Bold.otf');
    src: url('fonts/clash-display/ClashDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Light.otf');
    src: url('fonts/clash-display/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: "Clash Display";
    src: url('fonts/clash-display/ClashDisplay-Extralight.otf');
    src: url('fonts/clash-display/ClashDisplay-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }


@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Light.otf');
    src: url('fonts/satoshi/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Regular.otf');
    src: url('fonts/satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Medium.otf');
    src: url('fonts/satoshi/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Bold.otf');
    src: url('fonts/satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }  
@font-face {
    font-family: "Satoshi";
    src: url('fonts/satoshi/Satoshi-Black.otf');
    src: url('fonts/satoshi/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }  


:root{
    --background: #181818;
    --text: #eefbea;
    --primary: #83fc83;
    --secondary: #024b26;
    --accent: #49fda3;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
}

.links-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    font-size: 20px;
    font-family: 'Clash Display';
    font-weight: 400;
    color: var(--text);
    text-decoration: none;
    margin: 0 32px 0 0;
}

.link:last-of-type{
    margin: 0;
}

.links-box-mobile{
    display: none;
}

.menu-icon-box{
    display: none;
}

.menu-icon{
    fill: var(--primary);
    height: 24px;
}

.contact-btn{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
    color: var(--secondary);
    background-color: var(--primary);
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 124px 0 124px;
}

.hero-text-box{
    color: var(--text);
}

.hello{
    font-size: 28px;
}

.intro{
    font-size: 54px;
    font-weight: 600;
    font-family: 'Clash Display';
}

.developer{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Clash Display';
}

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1028px;
    height: 465px;
    margin: 162px auto 0;
    border-radius: 68px;
    color: var(--text);
    background: #012E17;
}

.about-img{
    width: 310px;
    margin: 0 32px;
}

.about-text-box{
    margin: 0 54px 0 0;
}

.about-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
}

.ellipse1{
    width: 270px;
    position: absolute;
    right: 0px;
    top: 1240px;
    z-index: 0;
}

.works-section{
    z-index: 1;
    margin: 162px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 44px;
}

.works-cards-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 76px;
}

.works-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: var(--text);
    border: 1px solid rgba(238, 251, 234, 0.1);
    border-radius: 56px;
    overflow: hidden;
}

.card-img{
    width: 346px;
    height: 308px;
    /* flex-shrink: 0; */
    object-fit: cover;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}

.card-text2{
    padding-left: 60px;
}

.card-heading{
    /* font-family: 'Clash Display'; */
    font-size: 32px;
    font-weight: 800;
    color: var(--secondary);
}

.card-subheading{
    font-family: 'Clash Display';
    font-size: 16px;
    font-weight: 500;
    color: #AFAFAF;
    margin-top: 4px;
}

.card-desc{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin-top: 18px;
}

.card-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    gap: 16px;
}

.demo-btn, .github-btn{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 16px;
    padding: 10px 12px;
}

.github-btn{
    color: var(--text);
    background-color: var(--secondary);
}

.ellipse2{
    width: 270px;
    position: absolute;
    left: 0px;
    top: 2400px;
    z-index: 0;
}

.toolkit-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 172px auto 0;
}

.toolkit-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 36px;
}

.toolkit-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 154px;
}

.toolkit-icons-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 64px 108px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    width: 1000px;
    border-radius: 64px;
    margin: 172px auto 0;
    padding: 46px;
}

.contact-heading{
    font-size: 42px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 36px;
}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 116px;
}

.contact-form-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.name-email-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.name-box, .email-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.label{
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}

.field{
    padding: 12px 8px 12px 12px;
    border-radius: 8px;
    border: 1px solid rgba(238, 251, 234, 0.0);
    outline: none;
    opacity: 0.93;
    transition: all 0.2s;
}

.field:focus{
    opacity: 1;
    border: 1px solid var(--text);
}

.field::placeholder{
    opacity: 0.7;
}

.message-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.messsage-field{
    width: 100%;
    resize: vertical;
}

.send-btn{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 10px 12px;
    cursor: pointer;
}

.socials-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 116px auto 18px;
}

.socials-heading{
    font-size: 36px;
    font-family: 'Clash Display';
    font-weight: 600;
    color: var(--text);
    margin-bottom: 16px;
}

.socials-icons-box{
    margin-bottom: 42px;
    display: flex;
    gap: 42px;
}

.socials-icon{
    width: 60px;
}

.socials-copyright{
    color: var(--text);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}


@media only screen and (min-width: 999px) and (max-width: 1100px){

    .about-section{
        width: 940px;
    }

    .toolkit-section{
        width: 840px;
    }

    .toolkit-box{
        gap: 98px;
    }

    .tool-icon{
        width: 90px;
    }
    
    .toolkit-img{
        width: 300px;
    }

    .contact-section{
        width: 940px;
    }

}


@media only screen and (min-width: 700px) and (max-width: 998px){

    .logo{
        width: 116px;
    }

    .link{
        font-size: 16px;
    }

    .contact-btn{
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 10px;
    }

    .hero-section{
        margin: 64px 64px 0 64px;
    }

    .hero-text-box{
        /* margin-left: 64px; */
    }

    .hello{
        font-size: 24px;
    }

    .intro{
        font-size: 46px;
    }

    .developer{
        font-size: 26px;
        font-weight: 500;
    }

    .hero-img{
        width: 224px;
    }

    .about-section{
        width: 642px;
        height: 364px;
    }

    .about-img{
        width: 280px;
        margin: 0 24px;
    }

    .about-text{
        font-size: 14px;
    }

    .ellipse{
        width: 200px;
    }

    .works-section{
        width: 680px;
        /* overflow: hidden; */
    }

    .works-card{
        width: 600px;
    }

    .card-img{
        width: 246px;
        height: 350px;
    }

    .card-text{
        padding: 32px;
    }

    .card-heading{
        font-size: 26px;
    }

    .card-subheading{
        font-weight: 400;
    }

    .card-desc{
        font-size: 14px;
        margin-top: 12px;
    }

    .card-btn-box{
        margin-top: 12px;
    }

    .demo-btn, .github-btn{
        font-size: 14px;
        border-radius: 14px;
    }

    .toolkit-section{
        width: 600px;
    }

    .toolkit-box{
        gap: 54px;
    }

    .toolkit-icons-box{
        gap: 50px;
    }

    .tool-icon{
        width: 74px;
    }

    .toolkit-img{
        width: 264px;
    }

    .contact-section{
        width: 600px;
    }

    .contact-box{
        gap: 64px;
    }

    .contact-img{
        width: 178px;
    }

    .name-email-box{
        gap: 12px;
    }

    .label{
        font-size: 12px;
    }

    .field{
        padding: 8px 8px 8px 12px;
        width: 100%;
    }

    .send-btn{
        font-size: 14px;
        border-radius: 14px;
    }

}


@media only screen and (min-width: 480px) and (max-width: 699px){

    .navbar{
        justify-content: space-between;
        padding: 24px;
    }

    .logo{
        width: 84px;
    }

    .links-box{
        display: none;
    }

    .contact-btn-box{
        display: none;
    }

    .menu-icon-box{
        top: 12px;
        right: 12px;
        display: flex;
        cursor: pointer;
    }

    .links-box-mobile{
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color:var(--primary);
        padding: 21px 0;
        animation: slide-bottom 0.3s ease-in-out both
    }

    @keyframes slide-bottom {
        0%{
            transform:translateY(-20px);
            opacity: 0;
        }

        100%{
            transform:translateY(0);
            opacity: 1;
        }
      }

    .active{
        display: flex;
    }

    .link{
        margin: 0;
        padding: 8px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: var(--secondary);
    }

    .contact-btn{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
        padding: 8px;
        border-radius: 0px;
        color: var(--secondary);
        background-color: var(--primary);
    }

    .hero-section{
        margin: 64px 46px 0 46px;
    }

    .hello{
        font-size: 14px;
    }

    .intro{
        font-size: 34px;
    }

    .developer{
        font-size: 18px;
        font-weight: 500;
    }

    .hero-img{
        width: 136px;
    }

    .about-section{
        flex-direction: column;
        gap: 12px;
        width: 400px;
        height: auto;
        margin: 162px auto 0;
        padding: 36px;
        border-radius: 54px;
    }

    .about-img{
        width: 236px;
    }

    .about-text-box{
        margin: 0;
        /* padding: 24px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-heading{
        font-size: 34px;
        margin-bottom: 8px;
    }

    .about-text{
        font-size: 14px;
        text-align: justify;
    }

    .ellipse{
        width: 200px;
    }

    .works-section{
        width: 420px;
    }

    .works-heading{
        font-size: 34px;
        margin-bottom: 24px;
    }

    .works-card{
        width: 400px;
        flex-direction: column;
    }

    .works-card2{
        flex-direction: column-reverse;
    }

    .card-img{
        width: 100%;
        height: 212px;
    }

    .card-text{
        padding: 32px;
    }

    .card-heading{
        font-size: 26px;
    }

    .card-subheading{
        font-weight: 400;
    }

    .card-desc{
        font-size: 14px;
        margin-top: 12px;
    }

    .card-btn-box{
        margin-top: 12px;
    }

    .demo-btn, .github-btn{
        font-size: 14px;
        border-radius: 14px;
    }

    .toolkit-section{
        width: 420px;
    }

    .toolkit-heading{
        font-size: 34px;
        margin-bottom: 24px;
    }

    .toolkit-box{
        gap: 0;
    }

    .toolkit-icons-box{
        gap: 50px;
    }

    .tool-icon{
        width: 74px;
    }

    .toolkit-img{
        display: none;
    }

    .contact-section{
        width: 420px;
        border-radius: 54px;
    }

    .contact-heading{
        font-size: 34px;
        margin-bottom: 24px;
    }

    .contact-box{
        gap: 0;
    }

    .contact-img{
        display: none;
    }

    .name-email-box{
        gap: 12px;
    }

    .label{
        font-size: 12px;
    }

    .field{
        padding: 8px 8px 8px 12px;
        width: 100%;
    }

    .send-btn{
        font-size: 14px;
        border-radius: 14px;
    }

    .socials-heading{
        font-size: 34px;
        margin-bottom: 24px;
    }

}


@media only screen and (min-width: 280px) and (max-width: 479px){

    .navbar{
        justify-content: space-between;
        padding: 24px;
    }

    .logo{
        width: 84px;
    }

    .links-box{
        display: none;
    }

    .contact-btn-box{
        display: none;
    }

    .menu-icon-box{
        top: 12px;
        right: 12px;
        display: flex;
        cursor: pointer;
    }

    .links-box-mobile{
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color:var(--primary);
        padding: 21px 0;
        animation: slide-bottom 0.3s ease-in-out both
    }

    @keyframes slide-bottom {
        0%{
            transform:translateY(-20px);
            opacity: 0;
        }

        100%{
            transform:translateY(0);
            opacity: 1;
        }
      }

    .active{
        display: flex;
    }

    .link{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: var(--secondary);
    }

    .contact-btn{
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
        padding: 0px;
        border-radius: 0px;
        color: var(--secondary);
        background-color: var(--primary);
    }

    .hero-section{
        margin: 52px 24px 0 24px;
        flex-direction: column-reverse;
        gap: 12px;
    }

    .hero-text-box{
        text-align: center;
    }

    .hello{
        font-size: 14px;
    }

    .intro{
        font-size: 34px;
    }

    .developer{
        font-size: 18px;
        font-weight: 500;
    }

    .hero-img{
        width: 136px;
    }

    .about-section{
        flex-direction: column;
        gap: 12px;
        width: 260px;
        height: auto;
        margin: 162px auto 0;
        padding: 36px;
        border-radius: 54px;
    }

    .about-img{
        width: 192px;
    }

    .about-text-box{
        margin: 0;
        /* padding: 24px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-heading{
        font-size: 28px;
        margin-bottom: 8px;
    }

    .about-text{
        font-size: 12px;
        text-align: start;
    }

    .ellipse{
        width: 136px;
    }

    .works-section{
        width: 260px;
    }

    .works-heading{
        font-size: 28px;
        margin-bottom: 16px;
    }

    .works-card{
        width: 240px;
        flex-direction: column;
        border-radius: 42px;
    }

    .works-card2{
        flex-direction: column-reverse;
    }

    .card-img{
        width: 100%;
        height: 146px;
    }

    .card-text{
        padding: 24px;
    }

    .card-heading{
        font-size: 20px;
    }

    .card-subheading{
        font-size: 12px;
        font-weight: 400;
    }

    .card-desc{
        font-size: 12px;
        margin-top: 12px;
    }

    .card-btn-box{
        margin-top: 12px;
    }

    .demo-btn, .github-btn{
        font-size: 12px;
        border-radius: 12px;
        padding: 10px 8px;
    }

    .toolkit-section{
        width: 260px;
    }

    .toolkit-heading{
        font-size: 28px;
        margin-bottom: 16px;
    }

    .toolkit-box{
        gap: 0;
    }

    .toolkit-icons-box{
        gap: 28px 34px;
    }

    .tool-icon{
        width: 46px;
    }

    .toolkit-img{
        display: none;
    }

    .contact-section{
        width: 260px;
        border-radius: 42px;
        padding: 34px;
    }

    .contact-heading{
        font-size: 28px;
        margin-bottom: 16px;
    }

    .contact-box{
        gap: 0;
    }

    .contact-img{
        display: none;
    }

    .name-email-box{
        gap: 16px;
    }

    .label{
        font-size: 12px;
    }

    .field{
        padding: 8px 8px 8px 12px;
        width: 100%;
    }

    .field::placeholder{
        font-size: 12px;
    }

    .send-btn{
        font-size: 12px;
        border-radius: 12px;
        padding: 10px 8px;
    }

    .socials-heading{
        font-size: 28px;
        margin-bottom: 16px;
    }
    
    .socials-icons-box{
        gap: 28px;
    }

    .socials-icon{
        width: 46px;
    }

    .socials-copyright{
        font-size: 10px;
        font-weight: 300;
    }

}


