:root{
    --background: #0f0f0f;
    --text: #eefbea;
    --primary: #83fc83;
    --secondary: #024b26;
    --accent: #49fda3;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ellipse{
    width: 500px;
}